@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");

/* Reset  */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* Global  style  */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-mostly-black: #252525;
  --color-bg: #1e1e1e;
  --color-dark-violet: #201d27;
  --color-dark-gray: #444;
  --color-light-gray: #ccc;
  --color-icon-gray: #bdbdbd;
  --color-very-light-gray: #ddd;
  --color-gray-bg: #f4f4f4;
  --color-strong-red: #d51820;
  --color-primary-green: #29a643;
  --color-green-lime: #b1ffc2;
  --color-grayish-lime: #f3fef4;
  --color-pale-yellow: #fff8d6;
  --color-red-pale: #ffa3a6;

  /* Font-weight */
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-extra-bold: 900;
}

body {
  /* min-height: 100vh; */
  font-family: "Roboto", sans-serif;
  font-weight: var(--font-regular);
  line-height: normal;
  font-style: normal;
  font-size: 16px;
  color: var(--color-white);
  line-height: 22px;
}

/* 
font-family: 'Bebas Neue', sans-serif;
*/

/* Reusable  CSS  */

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  padding: 7px 118px;
  background-color: var(--color-primary-green);
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

/* .error-border {
  border: 1px solid var(--color-strong-red);
  border-radius: 5px;
} */

/* .form-btn--disabled:hover {
  background-color: var(--color-primary-green);
  cursor: pointer;
} */

.form-btn--success {
  padding: 9px 137px;
  border: none;
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-primary-green);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 33px;
  cursor: pointer;
}

.btn--active {
  background-color: var(--color-primary-green);
  cursor: pointer;
}

.up {
  color: var(--color-green-lime);
}

.up-img {
  background: url("./images/icon/up-img.svg") no-repeat;
  width: 11px;
  height: 11px;
}
.down-img {
  background: url("./images/icon/down-circle.svg") no-repeat;
  width: 11px;
  height: 11px;
}
.down {
  color: var(--color-red-pale);
}

/* Header  */

.header__top {
  background-color: var(--color-black);
}

.header__top-inner {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  padding-right: 40px;
}

.menu__list-item:last-child {
  padding-right: 25px;
}

.menu__list-link {
  font-size: 15px;
}

.header__content {
  background: linear-gradient(
      180deg,
      rgba(13, 12, 18, 0.65) 36.53%,
      rgba(21, 17, 26, 0) 100%
    ),
    url("../images/header-bg.png");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: var(--color-dark-violet);
  padding-bottom: 178px;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content-subtitle {
  color: var(--color-very-light-gray);
  font-size: 16px;
  font-weight: var(--font-regular);
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 auto;
  /* padding-top: 74px; */
  margin-top: 74px;
  margin-bottom: 5px;
}

.header__content-title {
  font-size: 34px;
  font-weight: var(--font-regular);
  line-height: 42px;
  max-width: 622px;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.header__content-item {
  font-weight: var(--font-bold);
  margin-left: 65px;
}

.header__content-descr {
  font-size: 16px;
  line-height: 24px;
  max-width: 451px;
  letter-spacing: 0.2px;
  margin-bottom: 28px;
}
.header__content-descr span {
  font-weight: var(--font-bold);
  font-size: 15px;
}

.header__content-btn {
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 29px;
}

.header__content-text {
  font-size: 14px;
  margin-bottom: 7px;
  line-height: 21px;
}

.header__content-demo {
  text-decoration: underline;
}

.header__content-terms {
  max-width: 335px;
  font-size: 12px;
}

.header__content-terms span {
  color: var(--color-strong-red);
}

.header__content-link {
  font-size: 12px;
  color: var(--color-strong-red);
  padding-bottom: 110px;
}

.crypto-line {
  position: absolute;
  right: calc(100vh - 1100px);
  top: -95px;
}

/* Section crypto  */
.crypto {
  display: flex;
  background: var(--color-dark-violet);
  padding-bottom: 33px;
  position: relative;
  padding-top: 5px;
}

.crypto__content-inner {
  margin: 10px 24px 0 24px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 90px;
  position: relative;
  flex-wrap: wrap;
  z-index: 0;
}

.crypto__container {
  position: relative;
}

.crypto__green {
  content: "";
  position: absolute;
  width: 455px;
  height: 783px;
  right: -125px;
  top: -300px;
}

.crypto__img {
  display: none;
}

.crypto__content-inner::before {
  content: "";
  position: absolute;
  background-image: url("../images/decor/0-before.png");
  width: 820px;
  height: 820px;
  right: 69%;
  top: 38%;
}

/* .crypto__info {
  background-image: url("../images/decor/Intersect-desk.svg");
  background-repeat: no-repeat;
  background-position: right;
} */

/* .crypto__info-items {
  background-image: url("../images/decor/line-before.svg");
  background-repeat: no-repeat;
  background-position: center right;
} */

.crypto__content-items {
  border-radius: 14px;
  border: 0.954px solid rgba(167, 167, 167, 0.2);
  background: rgba(140, 140, 140, 0.1);
  padding: 0px 11px 7px 6px;
  max-width: 208px;
  width: 246px;
  z-index: 1;
}

.crypto__content-item--link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
  margin-bottom: 12px;
}

.crypto__content-item-img {
  margin-right: 14px;
  margin-bottom: 20px;
}
.crypto__content-item-name {
  margin-right: 15px;
  margin-bottom: 21px;
}
.crypto__content-item-unit {
  margin-right: 13px;
  margin-bottom: 16px;
  display: inline-block;
}

.crypto__content-item-unit {
  text-shadow: 0px 0px 90px #ffc255;
  font-size: 13px;
  font-weight: var(--font-medium);
  line-height: 120%;
}
.crypto__content-item-name {
  color: var(--color-black);
  text-shadow: 0px 0px 65.82px #ffc255;
  font-size: 9px;
  font-weight: var(--font-medium);
  line-height: 120%;
  background-color: var(--color-pale-yellow);
  border-radius: 4px;
  padding: 2px 8px;
}

.crypto__content-price {
  text-shadow: 0px 0px 65.82px #ffc255;
  font-size: 19px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
}
.crypto__item-bottom {
  margin-bottom: 5px;
}

.crypto__item-bottom span {
  text-shadow: 0px 0px 65.82px #ffc255;
  font-size: 13px;
  line-height: 120%;
}

.crypto__info-title {
  font-size: 35px;
  font-weight: var(--font-light);
  line-height: 43px;
  padding-bottom: 26px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}
.crypto__content-inner {
  position: relative;
}

/* .crypto__content-inner::after {
  content: "";
  position: absolute;
  background-image: url("../images/decor/line-before.svg");
  width: 1067px;
  height: 1210px;
  right: 100px;
  top: -170px;
  transform: translateX(16%);
} */

.crypto__info-title::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary-green);
  width: 71px;
  height: 2px;
  border-radius: 20px;
  bottom: 2%;
  right: 47%;
}
.crypto__info-title span {
  font-weight: var(--font-bold);
}
.crypto__info-subtitle {
  font-size: 14px;
  line-height: 22px;
  max-width: 641px;
  margin: 0 auto;
  margin-bottom: 34px;
  z-index: 2;
}

.crypto__info-subtitle span {
  font-weight: var(--font-bold);
}

.crypto__info-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 13px;
  margin-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

.crypto__info-item {
  background-repeat: no-repeat;
  background-position: center;
  padding: 57px 10px 37px 49px;
  background-color: var(--color-black);
  border-radius: 10px;
  position: relative;
}

.crypto__info-item--fast::before {
  content: "";
  position: absolute;
  background-image: url("../images/decor/fast-icon.png");
  width: 100px;
  height: 200px;
  bottom: 25px;
  left: 42px;
}

.crypto__info-item--pricing::before {
  content: "";
  position: absolute;
  background-image: url("../images/decor/price-icon.png");
  width: 90px;
  height: 90px;
  top: 30px;
  right: 30px;
}

.crypto__info-item--tech::before {
  content: "";
  position: absolute;
  background-image: url("../images/decor/tech-icon.png");
  width: 70px;
  height: 70px;
  top: 25px;
  right: 28px;
}

.crypto__info-item--usd::before {
  content: "";
  position: absolute;
  background-image: url("../images/decor/dollar-icon.png");
  width: 50px;
  height: 70px;
  top: 24px;
  right: 25px;
}

.crypto__info-item:nth-child(1) {
  grid-row: span 2;
  padding: 56px 47px 64px 54px;
  max-width: 320px;
}

.crypto__info-item:nth-child(2) {
  grid-column: span 2;
  max-height: 261px;
}

.crypto__info-item:nth-child(3) {
  padding: 53px 55px 52px 49px;
  max-height: 275px;
  max-width: 325px;
}

.crypto__info-item:nth-child(4) {
  padding: 67px 55px 15px 53px;
}

.crypto__info-item-title {
  max-width: 220px;
  font-size: 25px;
  font-weight: var(--font-bold);
  line-height: 30px;
  padding-bottom: 22px;
  margin-bottom: 24px;
  position: relative;
}

.crypto__info-item-title::after {
  content: "";
  position: absolute;
  background-color: var(--color-primary-green);
  width: 50px;
  height: 2px;
  border-radius: 20px;
  bottom: 0;
  left: 0;
}

.crypto__info-item-descr {
  line-height: 22px;
  max-width: 400px;
}

.crypto__info-item-descr span {
  font-weight: var(--font-bold);
}

/* Section register */

.register {
  background-color: var(--color-dark-violet);
}
.register__title {
  text-align: center;
  font-size: 34px;
  font-weight: var(--font-bold);
  line-height: 12%;
  margin-bottom: 57px;
  padding-top: 10px;
}

.register__subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 51px;
}

.register__info {
  display: flex;
  justify-content: center;
}

.register__info-img {
  margin-bottom: 5px;
  text-align: center;
}

.register__info-item--date::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
}

.register__info-item--point {
  text-align: center;
}

.register__info-item {
  padding-top: 24px;
  border-right: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
}

.register__info-item:nth-child(1) {
  text-align: center;
  padding-left: 50px;
  padding-right: 53px;
}

.register__info-item:nth-child(2) {
  text-align: center;
  padding-right: 45px;
  padding-left: 46px;
}
.register__info-item:nth-child(3) {
  text-align: center;
  max-width: 280px;
  padding-bottom: 1px;
  border-left: 1px solid var(--color-white);
  border-right: none;
}

.register__info-title {
  text-align: center;
  font-size: 15px;
  font-weight: var(--font-medium);
  line-height: 30px;
  text-transform: uppercase;
}

.register__info-title:nth-child(1) {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.register__info-title:nth-child(1) {
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.register__info-title:nth-child(2) {
  text-align: center;
  font-size: 14px;
  margin-bottom: 13px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
}

/* Section registered-form */

/* Progressbar  */

.form__bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 15px;
}

.form__bars-info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.form__bars-img {
  margin-bottom: 12px;
}

.form__bars-info span {
  margin-left: 8px;
  margin-bottom: 10px;
}

.form__bars-line {
  height: 8px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--color-very-light-gray);
  position: relative;
  margin-bottom: 25px;
}

.form__bars-line::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 4px;
  left: 0;
  top: 0;
  background: var(--color-primary-green);
}

/* .form__bars-line--first::before {
  width: 50%;
} */

.form__bars--success::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 4px;
  left: 0;
  top: 0;
  background: var(--color-primary-green);
  width: 50%;
}

.form__bars--success::before {
  width: 50%;
}

.form__bars-line--50::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 4px;
  left: 0;
  top: 0;
  background: var(--color-primary-green);
  width: 50%;
}

.form__bars-line--100::before {
  width: 100%;
}

.form__step-input::placeholder {
  color: #999;
}

/* .form__step-input--username ::placeholder {
  color: #b1b1b1;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
} */

.form__step-input--username {
  position: relative;
}

.error-message--name {
  position: absolute;
}

.form__step-input--birthday {
  position: relative;
}

.error-message--birth {
  position: absolute;
}

.form__step-input--email {
  position: relative;
}
.error-message--email {
  position: relative;
}

.password-criteria--default,
.fa-solid {
  color: #959595;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error-message {
  color: var(--color-strong-red);
  font-size: 12px;
}

.error-mesage__img {
  margin-right: 7px;
}

.success-message {
  color: var(--color-primary-green);
}

.form__inner {
  display: flex;
  justify-content: space-between;
}
.pass-mesage__img path {
  fill: var(--color-primary-green);
}

/* Necesita actualizate  */

.registered-form {
  background-color: var(--color-dark-violet);
  min-height: 510px;
}

.form {
  max-width: 1146px;
  padding: 85px 158px 80px 158px;
  margin: 0 auto;
}

.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form__step {
  display: none;
}
.form__step--active {
  display: block;
}

.form__step-group {
  width: 100%;
}

.form__step-group {
  display: flex;
  margin-bottom: 45px;
  max-width: 825px;
}
.form__step-group {
  width: 100%;
}
.form__step-field {
  width: 50%;
}
.form__step-items {
  margin-right: 19px;
}

.form__step-label {
  font-size: 14px;
  font-weight: var(--font-bold);
}

.form__step-input {
  height: 40px;
  background: #f7f7f7;
  border: 1px solid #a9a9a9;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 22px 4px;
  color: var(--color-black);
  margin-bottom: 3px;
  outline: none;
}

.form__step-input--birthday {
  color: #b1b1b1;
  font-size: 14px;
}

.form__step-input {
  border: 1px solid #a9a9a9;
  background: #f7f7f7;
}

.form__step-input--error {
  border: 1px solid var(--color-strong-red);
}

.form__step-input--success {
  border: 1px solid var(--color-primary-green);
}

.form__step-input input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-black);
}

.form-btn--disabled {
  padding: 9px 137px;
  border: none;
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-light-gray);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 33px;
}

.form-btn--success {
  padding: 9px 137px;
  border: none;
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-primary-green);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 33px;
  cursor: pointer;
}

.form-btn--off {
  padding: 9px 137px;
  border: none;
  display: block;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-light-gray);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 33px;
}

.form-btn--active {
  padding: 9px 137px;
  border: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-primary-green);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  margin-bottom: 33px;
}

.form-btn__text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 111.9%;
  margin-bottom: 23px;
}

.form-btn__demo {
  color: var(--color-strong-red);
  font-family: Roboto;
  font-size: 14px;
  line-height: 111.9%;
  text-decoration-line: underline;
}

.form-btn__terms {
  color: #efefef;
  text-align: center;
  font-size: 12px;
}
.form-btn__terms span {
  color: #ccb494;
}
.form-btn__link {
  color: var(--color-strong-red);
}

.form__step-item {
  max-width: 830px;
  border: 1px solid #31b63b;
  background: #f3fef4;
  padding: 47px 39px 62px 32px;
}
.form__step-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #3c763d;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 32px;
}

.form__step-title svg {
  margin-right: 14px;
}

.form__step-successeful {
  color: #3c763d;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form__step-img {
  margin-right: 10px;
}

input.invalid {
  border: 1px solid #d51820;
  background: #fff;
}

/* Section slaider  */

.slider-blog {
  background-color: var(--color-gray-bg);
  padding: 68px 0 72px;
}
.slider__title {
  color: #252525;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  line-height: 39px;
  margin-bottom: 45px;
}

.slider-blog__items {
  padding: 0 30px;
}

.gallery-slider__img {
  max-width: 164px;
  height: 164px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.slick-prev,
.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 0;
  z-index: 100;
}
.slick-next {
  right: 4px;
}

.draggable {
  margin-left: 60px;
  margin-right: 40px;
}

/* Section expertise  */
.expertise {
  background-color: var(--color-white);
}

.expertise__inner {
  display: flex;
  padding-top: 91px;
  margin-bottom: 5px;
}

.expertise__info {
  padding-left: 25px;
  margin-right: 126px;
}

.expertise__title {
  color: var(--color-dark-gray);
  font-size: 80px;
  font-weight: var(--font-extra-bold);
  line-height: 90px;
  letter-spacing: -1.6px;
  max-width: 283px;
  position: relative;
  padding-top: 32px;
  margin-bottom: 42px;
}
.expertise__title::after {
  content: "";
  position: absolute;
  background-color: var(--color-strong-red);
  width: 75px;
  height: 4px;
  top: 0;
  left: 0;
}
.expertise__title span {
  color: var(--color-strong-red);
}

.expertise__descr {
  color: var(--color-dark-gray);
  font-size: 17px;
  line-height: 23.879px;
  margin-bottom: 35px;
  width: 209px;
}
.expertise__descr span {
  font-weight: 700;
}
.expertise__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 179px;
}

.expertise__items-ellipse {
  position: relative;
}

.expertise__items-ellipse::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon/ellipse.svg");
  background-repeat: no-repeat;
  width: 500px;
  height: 235px;
  top: 115px;
  left: 64px;
}

.expertise__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
}

.expertise__item-title {
  color: var(--color-dark-gray);
  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
  padding-top: 79px;
  position: relative;
  margin-bottom: 17px;
}
.expertise__item-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
}

.expertise__item--security {
  background-image: url(../images/icon/security.svg);
  background-repeat: no-repeat;
}

.expertise__item--fair {
  background-image: url(../images/icon/fair.svg);
  background-repeat: no-repeat;
}

.expertise__item--win {
  background-image: url(../images/icon/win.svg);
  background-repeat: no-repeat;
}

.expertise__item--support {
  background-image: url(../images/icon/support.svg);
  background-repeat: no-repeat;
}

.expertise__item p {
  color: var(--color-dark-gray);
  font-size: 13px;
  line-height: 20.973px;
  max-width: 225px;
  margin-bottom: 83px;
}

/* Footer  */
.footer {
  background-color: var(--color-black);
}

.social__img-icon {
  color: var(--color-icon-gray);
  font-family: FontAwesome;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.1px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--color-dark-gray);
}
.footer__sponsor-items {
  display: flex;
  align-items: center;
}
.footer__sponsor-item:not(:last-child) {
  padding-right: 58px;
}
.social__img span {
  color: #888;
  font-size: 12px;
  font-weight: var(--font-medium);
  line-height: 17.143px;
  padding-right: 8px;
}

.footer-top__social {
  display: flex;
  align-items: center;
}

.social__img-icon:not(:last-child) {
  padding-right: 11px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-items {
  display: flex;
  align-items: center;
}

.footer-bottom__copy {
  padding-top: 27px;
  margin-bottom: 85px;
  position: relative;
  padding-right: 7px;
}

.footer-bottom__copy:not(:last-child) {
  margin-right: 9px;
}

.footer-bottom__copy a {
  color: #888;
  font-size: 12px;
  line-height: 17.143px;
}

.footer-bottom__copy::before {
  content: "|";
  position: absolute;
  color: #888;
  width: 1px;
  height: 17px;
  right: 0;
  bottom: 5px;
}
.footer-bottom__copy:last-child::before {
  content: none;
}

.footer-bottom__logo {
  padding-top: 12px;
}

/* Media responsive */
@media (max-width: 1200px) {
  .header__content {
    background-size: cover;
    background-color: var(--color-dark-violet);
  }
  .header__content-subtitle {
    color: var(--color-very-light-gray);
    font-size: 16px;
    font-weight: var(--font-regular);
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    /* padding-top: 110px; */
    margin-bottom: 5px;
    margin-top: 110px;
  }
}

@media (max-width: 1150px) {
  .expertise__items-ellipse::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon/ellipse.svg");
    background-repeat: no-repeat;
    top: 130px;
    left: 52px;
  }
  .crypto__content-items {
    border-radius: 14px;
    border: 0.954px solid rgba(167, 167, 167, 0.2);
    background: rgba(140, 140, 140, 0.1);
    padding: 0px 11px 7px 6px;
    max-width: 208px;
    width: 246px;
    z-index: 1;
  }
  .crypto__content-inner {
    padding-top: 15px;
    margin: 2px 20px 0 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 10px;
  }
  .crypto__content-items {
    padding: 0px 15px 5px 10px;
    margin-bottom: 30px;
  }

  .crypto__content-items {
    margin: 0 0px 15px 0px;
  }

  .crypto__info-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1050px) {
  .expertise__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }

  .expertise__items-ellipse::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon/ellipse.svg");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
  }
  .expertise__items-ellipse::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon/ellipse.svg");
    background-repeat: no-repeat;
    width: 0px;
    height: 0px;
    top: 116px;
    left: 64px;
  }
  .crypto__content-inner::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/0-before-768.png");
    width: 476px;
    height: 540px;
    right: 72%;
    top: 74%;
    z-index: 0;
  }
}

@media (max-width: 900px) {
  .crypto__info-item:nth-child(3) {
    padding: 53px 55px 52px 49px;
    max-height: 296px;
    max-width: 325px;
  }
  .crypto__info-item--tech::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/tech-icon.png");
    width: 70px;
    height: 70px;
    top: 25px;
    right: 15px;
  }
}

@media (max-width: 768px) {
  .header__top-inner {
    justify-content: center;
    padding: 23px 0;
  }
  .menu {
    display: none;
  }

  .header__content-subtitle {
    margin-top: 88px;
  }

  .header__content {
    background: linear-gradient(
        180deg,
        rgba(13, 12, 18, 0.65) 36.53%,
        rgba(21, 17, 26, 0) 100%
      ),
      url("../images/decor/header-bg-tablet.png");

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--color-dark-violet);
    padding-bottom: 100px;
  }

  .header__content-title {
    max-width: 535px;
    font-size: 28px;
    line-height: 34px;
    margin-left: 35px;
  }

  .header__content-item {
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: var(--font-bold);
    line-height: 35px;
    margin-left: 46px;
  }

  .header__content-descr {
    font-size: 14px;
    max-width: 394px;
    letter-spacing: 0.15px;
    margin-bottom: 21px;
  }

  .header__content-descr span {
    font-weight: var(--font-bold);
    font-size: 13px;
  }

  .crypto__content-inner::after {
    background-image: url("../images/icon/line-768svg.svg");
    width: 671px;
    height: 1346px;
    top: 0;
    right: 5px;
    transform: translateX(13px);
  }

  .expertise__items-ellipse::before {
    content: "";
    position: absolute;
    background-image: url("../images/icon/ellipse.svg");
    background-repeat: no-repeat;
    top: 110px;
    left: 40px;
  }

  .crypto__info-item--fast::after {
    content: "";
    position: absolute;
    background-image: url("../images/decor/fast-768.png");
    width: 41px;
    height: 83px;
    right: 44px;
    top: 26px;
  }

  .header__content-btn {
    margin-bottom: 26px;
  }

  .crypto__content-inner {
    padding-top: 15px;
    margin: 2px 20px 0 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    gap: 10px;
  }
  .crypto__content-items {
    padding: 0px 15px 5px 10px;
    margin-bottom: 30px;
  }

  .crypto__content-item-img {
    margin-bottom: 10px;
  }

  .crypto__info-title {
    font-size: 33px;
  }

  .crypto__content-item-unit {
    margin-right: 10px;
    margin-bottom: 16px;
  }

  .crypto__content-item--link {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .crypto__content-price {
    margin-bottom: 0px;
  }
  .form-btn--disabled {
    width: 100%;
    margin-bottom: 25px;
  }
  .form-btn--success {
    width: 100%;
  }

  .expertise__items-ellipse::before {
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    top: 99px;
    left: 46px;
  }

  .crypto__info-subtitle {
    margin-bottom: 60px;
  }

  .crypto__info-items {
    padding-left: 30px;
    padding-right: 30px;
  }

  .crypto__info-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    margin-bottom: 55px;
    padding-left: 104px;
    padding-right: 115px;
  }

  .crypto__info-item:nth-child(1) {
    padding: 43px 10px 30px 38px;
    grid-column: span 2;
    max-width: 528px;
  }

  .crypto__info-item--fast {
    position: relative;
  }
  .crypto__info-item--fast::before {
    display: none;
  }

  .crypto__info-item {
    padding: 43px 45px 44px 39px;
    position: relative;
  }

  .crypto__info-item--fast::after {
    top: 34px;
  }
  .crypto__info-item:nth-child(2) {
    grid-column: span 2;
    padding: 69px 10px 29px 40px;
  }

  .crypto__info-item {
    background-repeat: no-repeat;
    background-position: center;
    padding: 43px 45px 44px 39px;
    position: relative;
  }

  .crypto__info-item-title {
    padding-bottom: 19px;
    margin-bottom: 23px;
  }

  .crypto__info-item--pricing::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/price-icon.png");
    background-size: cover;
    background-position: center;
    width: 90px;
    height: 90px;
    top: 43px;
    right: 27px;
  }

  .crypto__info-item--tech::before {
    background-size: cover;
    background-position: center;
    width: 85px;
    height: 85px;
    top: 35px;
    right: 30px;
  }

  .crypto__info-item:nth-child(3) {
    grid-column: span 2;
    padding: 50px 50px 52px 38px;
    max-height: 241px;
    max-width: 530px;
  }

  .crypto__info-item:nth-child(4) {
    grid-column: span 2;
    padding: 58px 10px 55px 40px;
  }

  .crypto__info-item-descr {
    line-height: 22px;
    max-width: 300px;
  }
  .crypto__info-item--usd::before {
    background-size: cover;
    background-position: center;
    width: 59px;
    height: 85px;
    top: 31px;
    right: 39px;
  }

  .crypto {
    padding-bottom: 25px;
  }

  .register__title {
    margin-bottom: 50px;
  }

  .register__subtitle {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 33px;
  }

  .register__info-item {
    padding-top: 31px;
  }

  .register__info-item:nth-child(1) {
    padding-left: 30px;
  }

  .register__info-item:nth-child(2) {
    text-align: center;
    padding-right: 46px;
    padding-left: 45px;
  }

  .register__info-item:nth-child(3) {
    max-width: 240px;
    padding-left: 19px;
  }

  .form {
    max-width: 1146px;
    padding: 82px 145px;
    padding-bottom: 70px;
    margin: 0 auto;
  }

  .form__bars {
    gap: 6px;
  }

  .form__step-group {
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .form__bars-info span {
    margin-bottom: 8px;
  }

  .form__step-field {
    width: 100%;
    margin-right: 0;
  }

  .form__bars-line {
    margin-bottom: 22px;
  }

  .form__bars-img {
    width: 23px;
    height: 23px;
  }

  .form__bars-info {
    display: flex;
    margin-bottom: 9px;
    align-items: center;
  }

  .form__step-items {
    margin-bottom: 36px;
  }

  .form__step-input {
    margin-bottom: 5px;
  }

  .slider__title {
    margin-bottom: 35px;
  }

  .slider-blog {
    padding: 16px 0px 74px;
  }
  .slider-blog {
    padding: 50px 0px 74px;
    padding-top: 68px;
  }

  .slick-prev {
    top: 61px;
    left: 19px;
  }

  .slick-next {
    right: 21px;
    top: 62px;
  }

  .draggable {
    margin-left: 43px;
    margin-right: 40px;
  }

  .gallery-slider__img {
    max-width: 156px;
    height: 135px;
  }

  br {
    display: none;
  }

  .expertise__info {
    width: 70%;
  }

  .expertise__descr {
    margin-bottom: 58px;
    width: 100%;
  }

  .expertise__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23px;
    margin-bottom: 5px;
  }

  .expertise__title {
    font-size: 45px;
    letter-spacing: -0.6px;
    max-width: 200px;
    padding-top: 1px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 105px;
  }

  .expertise__info {
    width: 83%;
  }

  .expertise__info {
    padding-left: 50px;
    margin-right: 0px;
  }

  .expertise__title::after {
    content: "";
    position: absolute;
    background-color: var(--color-strong-red);
    width: 39px;
    height: 4px;
    top: 0px;
    left: 131px;
  }
  .expertise__inner {
    margin-bottom: 14px;
  }

  .expertise__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 155px;
  }

  .expertise__item-title {
    padding-top: 70px;
  }

  .expertise__item p {
    margin-bottom: 55px;
    max-width: 220px;
  }

  .footer-top {
    display: none;
  }
  .expertise__inner {
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .footer-bottom__copy {
    padding-top: 68px;
    margin-bottom: 85px;
    position: relative;
    padding-right: 8px;
    padding-left: 19px;
  }

  .footer-bottom__copy:not(:last-child) {
    margin-right: -10px;
  }

  .footer-bottom__copy:not(:last-child) {
    margin-right: -10px;
  }

  .footer-bottom__logo {
    padding-top: 50px;
    padding-right: 20px;
  }
}
@media (max-width: 720px) {
  .form-btn--success,
  .form-btn--disabled {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .expertise__title {
    margin-left: 20px;
  }
}

@media (max-width: 550px) {
  .header__content-title {
    max-width: 465px;
    font-size: 25px;
  }
  .expertise__items-ellipse::before {
    display: none;
  }
  .form-btn--success,
  .form-btn--disabled {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .form {
    max-width: 1146px;
    padding: 40px 80px;
    padding-bottom: 35px;
    margin: 0 auto;
  }

  .expertise__title {
    margin-left: 20px;
  }
}

@media screen and (max-width: 450px) {
  .header__content {
    background: linear-gradient(
        180deg,
        rgba(13, 12, 18, 0.65) 36.53%,
        rgba(21, 17, 26, 0) 100%
      ),
      url("../images/decor/header-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    background-color: var(--color-dark-violet);
    padding-bottom: 66px;
  }

  .header__top-inner {
    padding: 23px 0;
  }

  .header__content-item {
    margin-left: 0;
  }

  .header__content-title {
    text-align: center;
    max-width: 249px;
    line-height: 38px;
    margin-left: 0px;
  }

  .header__content-descr {
    font-size: 14px;
    line-height: 22px;
    max-width: 232px;
    letter-spacing: 0.2px;
    margin-bottom: 28px;
  }

  .header__content-descr span {
    font-size: 13px;
  }

  .header__content-btn {
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 14px;
    padding: 7px 93px;
  }

  .header__content-terms {
    max-width: 232px;
    font-size: 11.5px;
    text-align: center;
  }

  .crypto__content-inner::after {
    display: none;
  }

  .crypto {
    position: relative;
  }

  /* .crypto::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/zero-red.png");
    width: 349px;
    height: 371px;
    left: 1%;
    top: 1%;
    transform: translateX(13px);
  } */

  .crypto__content-inner::after {
    background-image: url("../images/icon/line-768svg.svg");
    width: 671px;
    height: 1346px;
    top: 0;
    right: 5px;
    transform: translateX(13px);
  }

  .crypto__content-item-img {
    margin-bottom: 14px;
  }
  .crypto__content-item--link {
    margin-bottom: 13px;
  }

  .crypto__content-price {
    margin-bottom: 5px;
  }

  .crypto__content-items {
    border-radius: 14px;
    border: 0.954px solid rgba(167, 167, 167, 0.2);
    background: rgba(140, 140, 140, 0.1);
    padding: 0px 24px 9px 13px;
    max-width: 500px;
    width: 235px;
    margin: 0;
  }

  .crypto__info-items {
    grid-gap: 27px;
    margin-bottom: 40px;
    padding-left: 5px;
    padding-right: 16px;
  }

  .crypto__info-item-title {
    padding-bottom: 13px;
    margin-bottom: 20px;
  }

  .crypto__info-item {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  .crypto__info-item:nth-child(1) {
    padding: 38px 49px 36px 30px;
    grid-column: span 2;
  }

  .crypto__info-item:nth-child(2) {
    grid-column: span 2;
    padding: 39px 42px 29px 28px;
  }

  .crypto__info-item:nth-child(3) {
    padding: 45px 62px 37px 29px;
  }

  .crypto__info-item-title {
    font-size: 20px;
    width: 70%;
  }

  .crypto__info-item--fast::after {
    content: "";
    position: absolute;
    background-image: url("../images/decor/fast-320.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 60px;
    right: 25px;
    top: 17px;
  }

  .crypto__info-item--pricing::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/price-icon.png");
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 55px;
    top: 18px;
    right: 21px;
  }

  .crypto__info-item--tech::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/tech-icon.png");
    background-size: cover;
    background-position: center;
    width: 45px;
    height: 53px;
    top: 27px;
    right: 24px;
  }

  .crypto__info-item--usd::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/dollar-icon.png");
    background-size: cover;
    background-position: center;
    width: 38px;
    height: 66px;
    top: 15px;
    right: 22px;
  }

  .crypto__info-title {
    margin: 0 auto;
    max-width: 235px;
    font-size: 35px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .crypto__info-title::before {
    right: 38%;
  }

  .crypto__info-item:nth-child(4) {
    grid-column: span 2;
    padding: 50px 55px 55px 30px;
  }

  .crypto__info-item-title {
    font-size: 20px;
  }

  .register__title {
    font-size: 24px;
    margin-bottom: 42px;
  }

  .register__subtitle {
    margin-right: 28px;
    margin-left: 18px;
  }

  .register__info {
    flex-direction: column;
    align-items: center;
  }

  .register__info-item {
    border-bottom: 1px solid var(--color-white);
    border-right: none;
  }

  .register__info-item {
    padding-top: 7px;
    border-top: 0;
  }

  .register__info-item:nth-child(1) {
    padding-left: 43px;
  }

  .register__info-item:nth-child(2) {
    text-align: center;
    padding-right: 58px;
    padding-left: 47px;
    padding-top: 21px;
  }

  .register__info-item:nth-child(3) {
    border: none;
    padding-top: 22px;
    padding-left: 0;
  }
  .crypto {
    display: flex;
    background: var(--color-dark-violet);
    padding-bottom: 31px;
    position: relative;
    padding-top: 20px;
  }
  .form {
    max-width: 1146px;
    padding: 56px 20px;
    margin: 0 auto;
    padding-bottom: 63px;
  }

  .form-btn--success,
  .form-btn--disabled {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* .form-btn--disabled {
    padding: 11px 188px;
  } */
  .form__bars-items-media {
    display: none;
  }

  .form__bars {
    display: block;
  }

  .form__bars-info {
    margin-bottom: 6px;
  }

  .form__bars-line {
    margin-bottom: 26px;
  }

  .form__step-items {
    margin-bottom: 11px;
  }

  .form__bars-item--first {
    display: none;
  }

  .form__step-input {
    padding: 21px 7px;
  }

  .header__content-subtitle {
    margin-top: 70px;
  }

  .crypto {
    display: flex;
    background: var(--color-dark-violet);
    padding-bottom: 31px;
    position: relative;
    padding-top: 10px;
  }

  .slick-prev {
    top: 48px;
    left: 8px;
  }

  .slick-next {
    right: 9px;
    top: 47px;
  }

  .draggable {
    margin-left: 12px;
    margin-right: 0px;
  }

  .slider__title {
    margin-bottom: 40px;
  }

  .slider-blog {
    padding: 50px 0px 74px;
  }

  .expertise__item p {
    margin-bottom: 43px;
  }

  .expertise__item:nth-child(2) {
    margin-bottom: -24px;
  }

  .expertise__item-title {
    padding-top: 71px;
  }

  .expertise__item-descr {
    margin-bottom: 25px;
  }

  .expertise__item-title {
    text-align: center;
  }

  .slider__title {
    font-size: 24px;
  }

  .expertise__info {
    padding-left: 0px;
  }

  .form-btn__text {
    margin-bottom: 20px;
  }
  .form__step-group {
    margin-bottom: 24px;
  }

  .slider-blog {
    padding: 46px 0 72px;
    padding-bottom: 50px;
  }
  .expertise__title {
    font-size: 36px;
  }

  .form-btn--active {
    padding: 5px 90px;
    font-size: 18px;
  }

  .form__step-item {
    padding: 33px 17px 44px 13px;
    margin-right: 0px;
  }

  .expertise__inner {
    padding-top: 0px;
    margin-top: 55px;
    margin-bottom: 27px;
  }

  .expertise__descr {
    color: var(--color-dark-gray);
    font-size: 13px;
    line-height: 23.879px;
    margin-bottom: 35px;
    width: 100%;
  }

  .expertise__info {
    width: 87%;
  }

  .expertise__descr {
    margin-bottom: 50px;
    text-align: center;
  }

  .gallery-slider__img {
    max-width: 100px;
    height: 100px;
  }

  .expertise__title {
    margin-left: 0px;
    max-width: 0px;
  }

  .expertise__title::after {
    top: 0px;
    left: 110px;
  }

  .expertise__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 155px;
  }
  /* 
  .footer-bottom-items {
    display: none;
  } */

  .footer-bottom__logo {
    margin: 0 auto;
  }

  .footer-bottom__logo {
    padding: 50px 0;
  }

  .expertise__item--security,
  .expertise__item--fair,
  .expertise__item--win,
  .expertise__item--support {
    background-position: top;
  }

  .crypto__container {
    position: relative;
  }

  .crypto__img {
    display: block;
    content: "";
    position: absolute;
    width: 115px;
    height: 138px;
    right: 0;
    top: -60px;
    display: flex;
    justify-content: flex-end;
  }

  .crypto__content-inner {
    display: grid;
    grid-gap: 37px;
    padding-bottom: 65px;
  }

  .crypto__info-subtitle {
    line-height: 21px;
    margin-bottom: 55px;
    margin-left: 12px;
    margin-right: 12px;
  }
  /* .crypto__info {
    background-image: url("../images/decor/Intersect-desk.svg");
    background-repeat: no-repeat;
    background-position: right;
  } */

  .crypto__content-inner::before {
    content: "";
    position: absolute;
    background-image: url("../images/decor/0-before-768.png");
    width: 476px;
    height: 540px;
    right: 45%;
    top: 95%;
    z-index: 0;
  }

  .crypto__green {
    content: "";
    position: absolute;
    /* width: 455px; */
    /* height: 723px; */
    right: -18px;
    top: -99px;
    width: 150.888px;
    height: 304.648px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom__copy:not(:last-child) {
    margin-right: 3px;
  }

  .footer-bottom__copy {
    padding-top: 60px;
    margin-bottom: 0px;
    padding-left: 2px;
  }

  .footer-bottom-items {
    justify-content: center;
  }
  .footer-bottom__logo {
    padding-top: 25px;
    padding-bottom: 65px;
  }
}
@media screen and (max-width: 330px) {
  .footer-bottom__copy {
    padding-top: 60px;
    margin-bottom: 0px;
    padding-left: 2px;
  }
}
